/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
pre {
    position: relative;
}

.copy-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #f1f1f1;
    border: none;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
}

/* instructions nav */

h2.nav-tab-wrapper.instructions {
	margin:22px 0 0 0;
}

section.instructions {
	padding:22px;
	background: #fff;
	border:1px solid #ccc;
	border-top:0px;
	display:none;
}

section.instructions:nth-child(2) {
	display:block;
}